@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap'); 

/*.bad-script-regular {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}
*/


@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Explora&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* .victor-mono-<uniquifier> {
  font-family: "Victor Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Comfortaa:wght@300..700&family=Explora&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*.comfortaa-<uniquifier> {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;}
  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(imagens/fundo-site.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: white;
}

header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;



    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    border-bottom: 1px solid azure;
    background-color: #02182b;
    padding: 20px;
    z-index: 1000;

}

header h1{
    font-family: "Bad Script", cursive;
    font-size: 1.7em;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav li {
    list-style: none;
    
}

nav a{
    font-family: "Comfortaa", sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease
    
}

nav a:hover{
    color: #448fa3;
    
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

section.hero{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 100px;
    padding-top: 100px;
}

.hero h1{
    font-family: "Comfortaa", sans-serif;
    text-shadow: 5px 5px 5px black;
    padding-bottom: 20px;

}

.hero p{
    font-family: "Victor Mono", monospace;
    font-size: 0.8em;
    
}

div.texto{
    color: azure;
}



section.Sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    
    
    
}

.conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    font-family: "Comfortaa", sans-serif;
    
}

.conteudo > h1{
    border-top: 1px solid rgba(240, 255, 255, 0.562);
    padding: 20px;
    color: rgba(240, 255, 255, 0.747);

}

.conteudo > p {
    font-size: 1em;
    text-align: center;
    color: rgba(240, 255, 255, 0.753);
    line-height: 1.6;
    text-shadow: 5px 5px 5px black;
    
}

span{

    color: #448ea3ef ;
}

button{
    background-color: #448fa3;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.3em;
    color: azure;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.918);
    margin-top: 20px;
    width: 150px;
    padding: 10px;
    transition: color 0.3s ease
}

button:hover{
    cursor: pointer;
    background-color: #0b3844;
    color: #77afe0;
    


}

.rodape {
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  color: rgba(240, 255, 255, 0.712);
  background-color: #02182b;
  border-top: 1px solid azure;
}
